<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <script type="text/css" src="https://js.api.here.com/v3/3.1/mapsjs-ui.css"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script>window.ENV_VARIABLE = 'developer.here.com'</script>
    <title>Your Route</title>
    <style>
        ::-webkit-scrollbar {
            display: none;
        }

        #map {
            background: grey;
            height: 90vh;
            margin: 0 auto;
        }

        #panel {
            position: fixed;
            padding: 5vw;
            bottom: 20vh;
            left: 20px;
            width: 50vw;
            height: 25vh;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: white;
            border-radius: 5px;
        }

        .directions li span.arrow {
            display: inline-block;
            min-width: 28px;
            min-height: 28px;
            background-position: 0px;
            background-image: url("https://heremaps.github.io/maps-api-for-javascript-examples/map-with-route-from-a-to-b/img/arrows.png");
            position: relative;
            top: 8px;
        }

        .directions li span.depart {
            background-position: -28px;
        }

        .directions li span.rightturn {
            background-position: -224px;
        }

        .directions li span.leftturn {
            background-position: -252px;
        }

        .directions li span.arrive {
            background-position: -1288px;
        }
    </style>
</head>
<body id="markers-on-the-map">
    <div id="map"></div>
    <div id="panel"></div>
    <script type="text/javascript" defer>
        var platform = new H.service.Platform({
            apikey: "{{ apiKey }}"
        });
        var defaultLayers = platform.createDefaultLayers();
        var map = new H.Map(document.getElementById('map'),
            defaultLayers.vector.normal.map, {
            center: { lat: 50, lng: 5 },
            zoom: 4,
            pixelRatio: window.devicePixelRatio || 1
        });
        routeInstructionsContainer = document.getElementById('panel');
        window.addEventListener('resize', () => map.getViewPort().resize());
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
        var ui = H.ui.UI.createDefault(map, defaultLayers);
        var routeDict = JSON.parse('{{ route }}'.replaceAll('&#x27;',"\""))
        function onSuccess(route) {
            /*
                * The styling of the route response on the map is entirely under the developer's control.
                * A representative styling can be found the full JS + HTML code of this example
                * in the functions below:
                */
            addRouteShapeToMap(route);
            addManueversToMap(route);
            addWaypointsToPanel(route);
            addManueversToPanel(route);
            addSummaryToPanel(route);
            // ... etc.
        }
        var bubble;
        function openBubble(position, text) {
            if (!bubble) {
                bubble = new H.ui.InfoBubble(
                    position,
                    // The FO property holds the province name.
                    { content: text });
                ui.addBubble(bubble);
            } else {
                bubble.setPosition(position);
                bubble.setContent(text);
                bubble.open();
            }
        }
        function addRouteShapeToMap(route) {
            route.sections.forEach((section) => {
                // decode LineString from the flexible polyline
                let linestring = H.geo.LineString.fromFlexiblePolyline(section.polyline);

                // Create a polyline to display the route:
                let polyline = new H.map.Polyline(linestring, {
                    style: {
                        lineWidth: 4,
                        strokeColor: 'rgba(0, 128, 255, 0.7)'
                    }
                });

                // Add the polyline to the map
                map.addObject(polyline);
                // And zoom to its bounding rectangle
                map.getViewModel().setLookAtData({
                    bounds: polyline.getBoundingBox()
                });
            });
        }
        function addManueversToMap(route) {
            var svgMarkup = '<svg width="18" height="18" ' +
                'xmlns="http://www.w3.org/2000/svg">' +
                '<circle cx="8" cy="8" r="8" ' +
                'fill="#1b468d" stroke="white" stroke-width="1" />' +
                '</svg>',
                dotIcon = new H.map.Icon(svgMarkup, { anchor: { x: 8, y: 8 } }),
                group = new H.map.Group(),
                i,
                j;

            route.sections.forEach((section) => {
                let poly = H.geo.LineString.fromFlexiblePolyline(section.polyline).getLatLngAltArray();

                let actions = section.actions;
                // Add a marker for each maneuver
                for (i = 0; i < actions.length; i += 1) {
                    let action = actions[i];
                    var marker = new H.map.Marker({
                        lat: poly[action.offset * 3],
                        lng: poly[action.offset * 3 + 1]
                    },
                        { icon: dotIcon });
                    marker.instruction = action.instruction;
                    group.addObject(marker);
                }

                group.addEventListener('tap', function (evt) {
                    map.setCenter(evt.target.getGeometry());
                    openBubble(evt.target.getGeometry(), evt.target.instruction);
                }, false);

                // Add the maneuvers group to the map
                map.addObject(group);
            });
        }
        function addWaypointsToPanel(route) {
            var nodeH3 = document.createElement('h3'),
                labels = [];

            route.sections.forEach((section) => {
                labels.push(
                    section.turnByTurnActions[0].nextRoad.name[0].value)
                labels.push(
                    section.turnByTurnActions[section.turnByTurnActions.length - 1].currentRoad.name[0].value)
            });

            nodeH3.textContent = labels.join(' - ');
            routeInstructionsContainer.innerHTML = '';
            routeInstructionsContainer.appendChild(nodeH3);
        }
        function addSummaryToPanel(route) {
            let duration = 0,
                distance = 0;

            route.sections.forEach((section) => {
                distance += section.travelSummary.length;
                duration += section.travelSummary.duration;
            });

            var summaryDiv = document.createElement('div'),
                content = '<b>Total distance</b>: ' + distance + 'm. <br />' +
                    '<b>Travel Time</b>: ' + toMMSS(duration) + ' (in current traffic)';

            summaryDiv.style.fontSize = 'small';
            summaryDiv.style.marginLeft = '5%';
            summaryDiv.style.marginRight = '5%';
            summaryDiv.innerHTML = content;
            routeInstructionsContainer.appendChild(summaryDiv);
        }
        function addManueversToPanel(route) {
            var nodeOL = document.createElement('ol');

            nodeOL.style.fontSize = 'small';
            nodeOL.className = 'directions';

            route.sections.forEach((section) => {
                section.actions.forEach((action, idx) => {
                    var li = document.createElement('li'),
                        spanArrow = document.createElement('span'),
                        spanInstruction = document.createElement('span');

                    spanArrow.className = 'arrow ' + (action.direction || '') + action.action;
                    spanInstruction.innerHTML = section.actions[idx].instruction;
                    li.appendChild(spanArrow);
                    li.appendChild(spanInstruction);

                    nodeOL.appendChild(li);
                });
            });

            routeInstructionsContainer.appendChild(nodeOL);
        }
        function toMMSS(duration) {
            return Math.floor(duration / 60) + ' minutes ' + (duration % 60) + ' seconds.';
        }
        onSuccess(routeDict);
    </script>
</body>
</html>